---
import BaseLayout from '../../layouts/Layout.astro';
import TimelineItem from '../../components/TimelineItem.astro';
---

<BaseLayout>
  <div class="my-8 text-xl border-l-4 pl-4">
    <h3>赛博羊圈装修日志</h3>
  </div>
  <div class="changelog">
    <ul role="list" class="timeline">
      <TimelineItem time="2026-07-02">
        <p>
          把posts页面和tags页面的博文目录换成了卡片式的，这样分类和简介也可以显示，方便大家判断想看哪篇。<br />
          posts页面增加输入对应页跳转的功能，输入页码后按Go即可跳转到对应页。目前可能还看不到，等博文数量上来了之后会显示。<br />
          Tags页面标签下的文章按时间降序排列，因为比较希望大家能看到近期的文章。<br>
          单篇博文后的上一篇/下一篇按钮增加了动画效果。
        </p>
      </TimelineItem>
      <TimelineItem time="2026-07-02">
        <p>
          把tag页面的标签换成按文章数量降序排列，这样可以直观看到哪个标签下我发的文章最多啦！<br
          />
          追加底部图标和链接下划线的动画效果。
        </p>
      </TimelineItem>
      <TimelineItem time="2026-07-02">
        <p>
          我竟然一直没有在Layout里面加路由，每次跳转页面都默认刷新……狼狈加上，现在页面切换应该更加丝滑了。<br
          />
          删掉了不用的代码。<br />
          增加了og卡片。<br />
        </p>
      </TimelineItem>
      <TimelineItem time="2026-07-01">
        <p>
          将图片的img标签统一换成markdown记法，修复了过往嘟文一部分图片的显示问题<br
          />
          删掉了不用的文件和代码。<br />
          优化了首页的加载速度。<br />
          压缩了图片，减少了图片的体积。<br />
        </p>
      </TimelineItem>
      <TimelineItem time="2026-06-30">
        <p>
          优化了搜索结果的显示。<br />
          自定义评论区的文字。<br />
          在首页追加了卡片，随机显示卷毛羊最近的嘟嘟动态。顺便把之前的长毛象链接换成了星屑。<br
          />
          切换其他标签页时，更换页面标题（可以试试看！）<br />
          Footer部分追加了博客的总字数和博客搭建距今的天数。<br />
        </p>
      </TimelineItem>
      <TimelineItem time="2026-06-29">
        <p>
          把首页的友情链接换成了卡片式的，这样友友们博客的介绍语就可以展示出来了！<br
          />
          更换了夜间模式的背景图为深色，在夜间模式下看起来更舒服了。<br />
          在博文的页面顶部加了阅读进度条，可以看到自己读了多少内容啦。<br />
          新增了搜索框功能，可以在博客内搜索博文啦！<br />
          新增图片放大功能。
        </p>
      </TimelineItem>
      <TimelineItem time="2026-06-28">
        <p>
          在篇末新增了点赞功能。<br />
          把长毛象的icon换成了misskey的。<br />
          修好了手机上tag显示重叠的问题。<br />
          现在下滑会隐藏顶部菜单栏，上滑的时候才会显示，可以一键回到博客首页或者目录页了，不用再点回到首页按钮再点击相应的按键连按两次。不过考虑到可能有友友想要返回顶部查看目录，所以回到首页按钮暂时还是保留了。<br
          />
          小调了一下字体颜色和版式。
        </p>
      </TimelineItem>
      <TimelineItem time="2026-06-27">
        <p>
          把一些博文打错的tag改了过来。<br />
          修改了每页显示博文的数量，现在每页能显示10篇了！
        </p>
      </TimelineItem>
      <TimelineItem time="2025-11-28">
        <p>
          添加了目录功能。现在有目录的博文前面会显示小标题，点击就可以跳转到对应段落啦！
        </p>
      </TimelineItem>
      <TimelineItem time="2025-05-25">
        <p>
          Posts博文总览页面增加了分页按钮，不用再担心卷毛羊话太多页面变得巨长啦！
        </p>
      </TimelineItem>
      <TimelineItem time="2025-05-20">
        <p>
          给博客新增了favicon，可以看到可爱的像素小羊啦！更换了蓝色水玉纹样的背景，给装修日志的卡片加上了阴影。
        </p>
      </TimelineItem>
      <TimelineItem time="2025-05-16">
        <p>新增changelog的页面，可以看到卷毛羊博客装修的历史啦。</p>
      </TimelineItem>
      <TimelineItem time="2025-05-15">
        <p>新增评论区功能，footer追加了rss订阅的按钮。修复了一些bug。</p>
      </TimelineItem>
      <TimelineItem time="2025-05-13">
        <p>
          更新了友链，修复了footer底部masterdon图标不显示的bug。增加了最新博文右上角显示new的标识功能。博文的发布时间处追加了更新时间的显示（如果有编辑的话）。微调了排版。博文页尾增加了上一篇、下一篇的按钮。
        </p>
      </TimelineItem>
      <TimelineItem time="2025-05-12">
        <p>增加了友链，发现不能没有tailwind css，遂装之！</p>
      </TimelineItem>
      <TimelineItem time="2025-05-09">
        <p>
          正式公开我的赛博羊圈！上传了第1篇博文（虽然是篇压箱底的旧文）。稍微调整了屏幕自适应，增加了两张图片。
        </p>
      </TimelineItem>
    </ul>
  </div>
</BaseLayout>
