---
import BaseLayout from '../../layouts/Layout.astro';
import TimelineItem from '../../components/TimelineItem.astro';
import Paginator from '../../components/Paginator.astro';
import { changelogEntries } from '../../data/changelog';

const pageSize = 5;
const totalPages = Math.ceil(changelogEntries.length / pageSize);
const page = {
  data: changelogEntries.slice(0, pageSize),
  currentPage: 1,
  lastPage: totalPages,
  url: {
    prev: undefined,
    next: totalPages > 1 ? '/log/2/' : undefined,
  },
};
---

<BaseLayout pageTitle="赛博羊圈装修日志">
  <div class="my-8 text-xl border-l-4 pl-4">
    <h3>赛博羊圈装修日志</h3>
  </div>
  <div class="changelog">
    <ul role="list" class="timeline">
      {
        page.data.map((entry) => (
          <TimelineItem time={entry.time}>
            <ul class="space-y-2">
              {entry.items.map((item) => (
                <li>{item}</li>
              ))}
            </ul>
          </TimelineItem>
        ))
      }
    </ul>
  </div>

  <Paginator page={page} basePath="/log" />
</BaseLayout>

<style>
  .timeline li {
    text-indent: 1em;
  }
</style>
