* {
  overflow-wrap: break-word;
  word-break: break-word;
}


/* Global styles */
:root {
  --background: #1e1e2eee;
  --background-light: #ffffffdd;
  --button: #78c2ad;
  --text: #eff1f5;
  --text-light: #1e1e2e;
  --text-link: #78c2ad;
  --text-link-light: #375a7f;
  --underline: #375a7f;
  --header: 'Pacifico', "Noto Sans SC", cursive;
  --body: 'Josefin Sans', "Noto Sans SC", sans-serif;
  --pagefind-ui-text: var(--text) !important;
}

:root.light {
  --pagefind-ui-text: var(--text-light) !important;
}

.pagefind-ui__search-input {
  color: #1a1a1a !important;
}

sup {
  font-family: var(--body);
}

html {
  background-image: url(/images/background-dark.webp);
  background-attachment: fixed;
  background-size: cover;
  color: var(--text);
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html.light {
  background-image: url(/images/background.webp);
}

body {
  width: 100%;
  min-height: 100dvh;
  max-width: 650px;
  background-color: var(--background);
  padding: 20px;
  text-align: justify;
  min-width: 0;
  overflow-wrap: break-word;
}

main {
  padding: 0 1rem
}

h1,
h2 {
  font-family: var(--header);
  font-weight: normal;
}

.homepage h1 {
  font-size: 42px;
  margin: 0;
  margin-bottom: 5px;
}

.homepage h2 {
  text-decoration: underline var(--underline);
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
  font-size: 36px;
  font-family: var(--header);
}

.postshome {
  text-decoration: underline var(--underline);
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
  font-size: 1.5rem;
  font-family: sans-serif;
}



p {
  font-family: var(--body);
  hyphens: auto;
  line-height: 1.5;

}

.homepage p {
  text-indent: 1rem;
}

ul,
ol {
  margin-bottom: 1rem;
}

main {
  padding-top: 78px
}