@import "tailwindcss";

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Pacifico-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/JosefinSans-Regular.ttf') format('truetype');
  font-display: swap;
}

* {
  overflow-wrap: break-word;
  word-break: break-word;
}


/* Global styles */
:root {
  --background: #1e1e2edd;
  --background-light: #ffffffdd;
  --button: #78c2ad;
  --text: #eff1f5;
  --text-light: #1e1e2e;
  --text-link: #78c2ad;
  --text-link-light: #375a7f;
  --underline: #375a7f;
  --header: 'Pacifico', "Noto Sans SC", cursive;
  --body: 'Josefin Sans', "Noto Sans SC", sans-serif;
  --pagefind-ui-text: var(--text) !important;
}

:root.light {
  --pagefind-ui-text: var(--text-light) !important;
}

.pagefind-ui__search-input {
  color: #1a1a1a !important;
}

sup {
  font-family: var(--body);
}

html {
  background-image: url(/images/background-dark.webp);
  background-attachment: fixed;
  color: var(--text);
}

html.light {
  background-image: url(/images/background.webp);
}

body {
  width: 100%;
  min-height: 100vh;
  max-width: 600px;
  background-color: var(--background);
  padding: 20px;
  text-align: justify;
  min-width: 0;
  overflow-wrap: break-word;
}

main {
  padding: 0 1rem
}

h1,
h2 {
  font-family: var(--header);
  font-weight: normal;
}

.homepage h1 {
  font-size: 42px;
  margin: 0;
  margin-bottom: 5px;
}

.homepage h2,
.postshome {
  text-decoration: underline var(--underline);
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
  font-size: 36px;
}

p {
  font-family: var(--body);
  hyphens: auto;
  line-height: 1.5;

}

.homepage p {
  text-indent: 1rem;
}

/* 博文内部样式 */

.prose p {
  margin-bottom: 1rem;
  font-size: 1rem;
  text-indent: 1rem;
}

.prose h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: solid 4px var(--text);
  font-size: 1.15rem;
}

.prose h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: solid 4px var(--text);
  font-size: 1rem;
}

.prose li {
  list-style-type: disc;
  margin-left: 2rem;
}

.prose p code,
.prose li code {
  background: #f3f4f5;
  color: #476582;
  padding: 0.2em 0;
  border-radius: 3px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.85em;
}

.prose pre {
  margin: 1rem 0;
  border-radius: 16px;
}

.prose pre code {
  display: block;
  padding: 1rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

small,
li {
  font-family: var(--body);
}


/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem;
}

.navbar__title {
  font-family: var(--header);
  font-size: 24px;
}

.navbar__menu {
  font-family: var(--body);
  font-size: 20px;
  text-align: right;
}

#search-container {
  display: inline-flex;
}

#search-trigger {
  cursor: pointer;
}

.navbar__title>a,
.navbar__menu>a,
#search-container {
  color: var(--text);
  text-decoration: none;
}

.navbar__menu>a,
#search-containe {
  margin: 0 10px;
}

.navbar__title>a:hover,
.navbar__menu>a:hover,
#search-container:hover,
.navbar__menu>a:focus {
  text-decoration: underline var(--underline);
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

/* Gifs */
.gif {
  margin: 20px 0 0 0;
  text-align: center;
}

/* Badge */
.badge {
  background-color: #584966;
  color: white;
  border-radius: 6px;
  font-family: var(--body);
  font-weight: 600;
  font-size: 14px;
  padding: 0.3em 0.6em 0.2em;
}

.badge__list {
  list-style: none;
  padding: 0;
}

.badge__list>li {
  display: flex;
  align-items: center;
  margin: 10px 0 0 20px;
}

.badge--item {
  border-radius: 4px;
  font-size: 14px;
  margin-right: 5px;
  padding: 0.5em 0.3em 0.3em 0.3em;
  color: white
}

.badge__link {
  color: var(--text-link);
  text-decoration: none;
}

.badge__link:hover {
  text-decoration: underline;
}



/* Button */
.btn {
  text-align: center;
  background: rgba(0, 0, 0, 0);
  border: 2px solid var(--button);
  border-radius: 8px;
  color: var(--text);
  font: 600 16px var(--body);
  padding: 8px 16px;
  transition: background-color 0.4s, color 0.4s;
}

.btn:hover {
  background-color: var(--button);
  color: var(--text-light);
  cursor: pointer;
}

/* Skills */
.skills {
  margin-top: 8px;
}

.skills__img {
  margin: 8px 4px;
}

/* Items */
.center {
  text-align: center;
}

.pro-img {
  border-radius: 16px;
  margin-top: 10px;
}

/* Footer */
footer {
  margin: 4rem 0;
}

.footer__link {
  color: var(--text-link);
  text-decoration: none;
}

.footer {
  cursor: default;
  list-style: none;
  padding: 0;
}

.icon__btn {
  display: inline-block;
  padding: 0 0.5rem;
}

.icon__link {
  position: relative;
  display: block;
  padding: 15px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid #fdebf3;
}

.icon__link:hover {
  border-color: var(--text-link);
}

.masterdon-icon {
  /* content: url("/images/mastodon.svg"); */
  position: absolute;
  vertical-align: top;
  top: 5px;
  left: 5px;
}

.rss-icon {
  /* content: url("/images/rss.svg"); */
  position: absolute;
  vertical-align: top;
  top: 5px;
  left: 5px;
}

/* 404 */
.lost {
  margin-top: 30%;
  text-align: center;
}

.lost__header {
  margin: 0 auto;
  text-align: center;
  border: 0;
  font-size: 7.5rem;
  letter-spacing: 10px;
}

.lost__body {
  color: #5C5B77;
}

.lost__link {
  color: var(--text-link);
  text-decoration: none;
}

/* Theme Icon */
html.light {
  color: var(--text-light);
  --background: var(--background-light);
  --text: var(--text-light);
}

html.light body {
  background-color: var(--background-light);
}

.light .navbar__title>a {
  color: var(--text-light);
}

.light .navbar__menu>a {
  color: var(--text-light);
}

.light .card__title {
  color: var(--text-light);
}

.light .card__txt {
  color: var(--text-light);
}

.light .btn {
  color: var(--text-light);
}

.light .btn:hover {
  color: var(--text);
}

.light .icon__link {
  border: 2px solid var(--text-light);
}

.light .icon__link:hover {
  border-color: var(--text-link);
}

.light .badge__link {
  color: var(--text-link-light);
}

.light .footer__link {
  color: var(--text-link-light);
}

.light .icon__link:hover {
  border-color: var(--text-link-light);
}

html.light .masterdon-icon {
  fill: var(--text-light);
}

.light .timeline-card {
  background-color: #fff;
}

/* Tags */

.tags {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 0.25em;
  border: dotted 1px #a1a1a1;
  border-radius: .5em;
  padding: .5em 1em;
  font-size: 20px;
  text-indent: 0;
}

.tag-text {
  color: #375a7f;
}

/* Posts' List/ Timeline */

.timeline {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  position: relative;
}

.timeline-item {
  position: relative;
  display: flex;
  align-items: center;
}

.post-title:hover {
  text-decoration: underline;
}

/* Post Layout */
.foreword {
  font-size: 16px;
  color: var(--text);
}

.divider {
  border-top: 2px dotted #5C5B77;
  width: 8%;
}

/* 博文图片 */

.prose img {
  display: block;
  max-width: 300px;
  /* 对应你原来 md:w-[300px] 这个"桌面端默认宽度" */
  width: 100%;
  /* 在容器允许范围内尽量撑满，但不超过 max-width */
  margin: 0.75rem auto;
  /* 上下间距 + 水平居中，对应你原来的 mx-auto my-3 */
  border-radius: 6px;
  /* 可选，看你喜不喜欢圆角 */
}

@media (max-width: 768px) {
  .prose img {
    max-width: 200px;
    /* 对应你原来手机端的 w-[200px] */
  }
}

.wl-meta-foot {
  display: none;
}



/* Media Query */
@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  .pro-img,
  .post-img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }

  .navbar {
    display: initial;
  }

  .navbar__title {
    text-align: center;
  }

  .navbar__menu {
    text-align: center;
  }

  .navbar__menu>a {
    margin: 0 11px;
  }

  .skills__img {
    height: 30px;
    width: 30px;
    margin: 8px 1px;
  }

  .badge__list {
    font-size: 16px;
    text-indent: 0;
  }
}

/* 默认是深色模式的图片 */
.hero-image {
  content: url('/images/mv-dark.webp');
  width: 400px;
  height: auto;
}

/* 当 html 拥有 light 类时，切换图片 */
html.light .hero-image {
  content: url('/images/mv.webp');
}

ul,ol {
margin-bottom: 1rem;
}