@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400&display=swap');
@import "tailwindcss";

* {
  overflow-wrap: break-word;
  word-break: break-word;
}


/* Global styles */
:root {
  --background: #1e1e2e;
  --background-light: #fcebf3;
  --button: #78c2ad;
  --text: #eff1f5;
  --text-light: #1e1e2e;
  --text-link: #78c2ad;
  --text-link-light: #375a7f;
  --underline: #375a7f;
  --header: 'Pacifico', "Noto Sans SC", cursive;
  --body: 'Josefin Sans',"Noto Sans SC", sans-serif;
}

sup {
  font-family: var(--body);
}

html {
  background-color: var(--background);
  color: var(--text);
}

body {
  width: 100%;
  max-width: 540px;
  padding: 0;
  margin: 0 auto;
  text-align: justify;
  min-width: 0;
  overflow-wrap: break-word;
}

main {
  padding: 0 1rem
}

h1,
h2 {
  font-family: var(--header);
  font-weight: normal;
}

h1 {
  font-size: 42px;
  margin: 0;
  margin-bottom: 5px;
}

h2 {
  text-decoration: underline var(--underline);
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
  font-size: 36px;
}

p {
  font-family: var(--body);
  font-size: 20px;
  hyphens: auto;
  line-height: 1.5;
  text-indent: 1rem;
}

small,
li {
  font-family: var(--body);
}


/* Navigation Bar */
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0.8rem;
}

.navbar__title {
  font-family: var(--header);
  font-size: 24px;
}

.navbar__menu {
  font-family: var(--body);
  font-size: 20px;
  text-align: right;
}

.navbar__title>a,
.navbar__menu>a {
  color: var(--text);
  text-decoration: none;
}

.navbar__menu>a {
  margin: 0 10px;
}

.navbar__title>a:hover,
.navbar__menu>a:hover,
.navbar__menu>a:focus {
  text-decoration: underline var(--underline);
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

/* Gifs */
.gif {
  margin: 20px 0 0 0;
  text-align: center;
}

/* Badge */
.badge {
  background-color: #584966;
  color: var(--text);
  border-radius: 6px;
  font-family: var(--body);
  font-weight: 600;
  font-size: 14px;
  padding: 0.3em 0.6em 0.2em;
}

.badge__list {
  list-style: none;
  padding: 0;
}

.badge__list>li {
  display: flex;
  align-items: center;
  margin: 10px 0 0 20px;
}

.badge--item {
  border-radius: 4px;
  font-size: 14px;
  margin-right: 5px;
  padding: 0.5em 0.3em 0.3em 0.3em;
}

.badge__link {
  color: var(--text-link);
  text-decoration: none;
}

.badge__link:hover {
  text-decoration: underline;
}



/* Button */
.btn {
  text-align: center;
  background: rgba(0, 0, 0, 0);
  border: 2px solid var(--button);
  border-radius: 8px;
  color: var(--text);
  font: 600 16px var(--body);
  padding: 8px 16px;
  transition: background-color 0.4s, color 0.4s;
}

.btn:hover {
  background-color: var(--button);
  color: var(--text-light);
  cursor: pointer;
}

/* Skills */
.skills {
  margin-top: 8px;
}

.skills__img {
  margin: 8px 4px;
}

/* Items */
.center {
  text-align: center;
}

.pro-img {
  border-radius: 16px;
  margin-top: 10px;
}

/* Footer */
footer {
  margin: 4rem 0;
}

.footer__link {
  color: var(--text-link);
  text-decoration: none;
}

.footer {
  cursor: default;
  list-style: none;
  padding: 0;
}

.icon__btn {
  display: inline-block;
  padding: 0 0.5rem;
}

.icon__link {
  position: relative;
  display: block;
  padding: 15px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid #fdebf3;
}

.icon__link:hover {
  border-color: var(--text-link);
}

.masterdon-icon {
  content: url("/images/mastodon.svg");
  position: absolute;
  vertical-align: top;
  top: 5px;
  left: 5px;
}

/* 404 */
.lost {
  margin-top: 30%;
  text-align: center;
}

.lost__header {
  margin: 0 auto;
  text-align: center;
  border: 0;
  font-size: 7.5rem;
  letter-spacing: 10px;
}

.lost__body {
  color: #5C5B77;
}

.lost__link {
  color: var(--text-link);
  text-decoration: none;
}

/* Theme Icon */
html.light {
  background-color: var(--background-light);
  color: var(--text-light);
}

.light .navbar__title>a {
  color: var(--text-light);
}

.light .navbar__menu>a {
  color: var(--text-light);
}

.light .card__title {
  color: var(--text-light);
}

.light .card__txt {
  color: var(--text-light);
}

.light .btn {
  color: var(--text-light);
}

.light .btn:hover {
  color: var(--text);
}

.light .icon__link {
  border: 2px solid var(--text-light);
}

.light .icon__link:hover {
  border-color: var(--text-link);
}

.light .badge__link {
  color: var(--text-link-light);
}

.light .footer__link {
  color: var(--text-link-light);
}

.light .icon__link:hover {
  border-color: var(--text-link-light);
}

/* Tags */

.tags {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 0.25em;
  border: dotted 1px #a1a1a1;
  border-radius: .5em;
  padding: .5em 1em;
  font-size: 20px;
  text-indent: 0;
}

.tag-text {
  color: #375a7f;
}

/* Posts' List/ Timeline */

.timeline {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  position: relative;
}

.timeline-item {
  position: relative;
  display: flex;
  align-items: center;
}

.post-title:hover {
  text-decoration: underline;
}

/* Post Layout */
.foreword {
  font-size: 16px;
  color: #5C5B77;
}

.divider {
  border-top: 2px dotted #5C5B77;
  width: 8%;
}

.post-img {
  width: 100%;
  height: auto;
}

/* Media Query */
@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  .pro-img,
  .post-img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }

  .navbar {
    display: initial;
  }

  .navbar__title {
    text-align: center;
  }

  .navbar__menu {
    text-align: center;
  }

  .navbar__menu>a {
    margin: 0 11px;
  }

  .skills__img {
    height: 30px;
    width: 30px;
    margin: 8px 1px;
  }

  .badge__list {
    font-size: 16px;
    text-indent: 0;
  }
}
