/* Theme Icon */
html.light {
  color: var(--text-light);
  --background: var(--background-light);
  --text: var(--text-light);
}

html.light body {
  background-color: var(--background-light);
}

.light .navbar__title>a {
  color: var(--text-light);
}

.light .navbar__menu>a {
  color: var(--text-light);
}

.light .card__title {
  color: var(--text-light);
}

.light .card__txt {
  color: var(--text-light);
}

.light .btn {
  color: var(--text-light);
}

.light .btn:hover {
  color: var(--text);
}

.light .icon__link {
  border: 2px solid var(--text-light);
}

.light .icon__link:hover {
  border-color: var(--text-link);
}

.light .badge__link {
  color: var(--text-link-light);
}

.light .footer__link {
  color: var(--text-link-light);
}

.light .icon__link:hover {
  border-color: var(--text-link-light);
}

html.light .masterdon-icon {
  fill: var(--text-light);
}

.light .timeline-card {
  background-color: #fff;
}
