---
const description = '404';
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import HeroImage from '../components/HeroImage.astro';
---

<Layout>
  <div class="lost">
    <div class="gif">
      <HeroImage className="theme-img" />
    </div>
    <h1 class="lost__header">{description}</h1>
    <p class="lost__body">好像你迷路了呢……卷毛羊的羊圈里没有这个页面哦。</p>
    <p>
      <a class="lost__link" href="/">回到首页</a>
    </p>
  </div>
</Layout>

<style>
  .lost {
    margin: 0 auto;
  }
  .lost__body {
    color: var(--text);
  }
</style>
