---
const description = '404';
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import HeroImage from '../components/HeroImage.astro';
---

<Layout pageTitle="你好像迷路了……">
  <div class="lost">
    <div class="gif">
      <HeroImage className="theme-img" />
    </div>
    <h1 class="lost__header">{description}</h1>
    <p class="lost__body">好像你迷路了呢……<br>卷毛羊的羊圈里没有这个页面哦。</p>
    <p>
      <a class="lost__link" href="/">回到首页</a>
    </p>
  </div>
</Layout>
