---
const description = "404";
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="lost">
    <div class="gif">
      <img
        src="/images/mv-dark.png"
        role="presentation"
        width="400"
        height="259"
        decoding="async"
        class="mx-auto theme-img theme-img-dark"
      />
      <img
        src="/images/mv.png"
        role="presentation"
        width="400"
        height="259"
        decoding="async"
        class="mx-auto theme-img theme-img-light"
      />
    </div>
    <h1 class="lost__header">{description}</h1>
    <p class="lost__body">
      好像你迷路了呢……卷毛羊的羊圈里没有这个页面哦。
    </p>
    <p>
      <a class="lost__link" href="/">回到首页</a>
    </p>
  </div>
</Layout>

<style>
  .lost {
    margin: 0 auto;
  }
  .theme-img-light {
    display: none;
  }

  :global(.light) .theme-img-dark {
    display: none;
  }
  :global(.light) .theme-img-light {
    display: block;
  }
</style>
