---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Curly Sheep";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img src="/.netlify/images?url=/images/space.webp" role="presentation" width="300" height="259" decoding="async">
    </div>
    <h1>{pageTitle}</h1>
    <span class="badge">The Mighty Herbivore</span>
    <h2>About</h2>
    <p>
        待装修……
    </p>
    <p>
        待装修
    </p>
    <h2>Interests</h2>
    <p>
        待装修……
    </p>
</Layout>
