---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
const allPosts = (await getCollection("posts")).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
const pageTitle = "Posts";
---

<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img src="/images/blog.webp" role="presentation" width="300" height="259" decoding="async" class="mx-auto">
    </div>
    <h2 class="postshome">Blog</h2>
    <ul role="list" class="timeline">
        {
            allPosts.sort((a, b) => {
  const dateDiff = new Date(b.data.date).getTime() - new Date(a.data.date).getTime();

  if (dateDiff !== 0) {
    return dateDiff; // 日期不同，按日期降序
  }

  return b.id.localeCompare(a.id); // 日期相同，按 id 降序
}).map((post, index) => (
              <li class="timeline-item flex items-center mb-4 sm:pl-8">
                <time class="post-date badge--item badge min-w-[80px] block">{post.data.date}</time>
                <div class="inline-block">
                <a href={`/posts/${post.id}/`} class="post-title">{post.data.title}</a>
                {
            index === 0 && (
              <sup class="text-[12px] text-white bg-red-400 rounded px-1 py-px">NEW</sup>
            )
          }
                </div>
              </li>
            ))
          }
    </ul>
</Layout>
