---
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <ul class="footer">
            <li class="icon__btn"><a class="icon__link" href="https://moresci.sale/@bipolar" target="_blank"><span class="masterdon-icon">Mastodon</span></a></li>
        </ul>
        <small>&copy; {year} Curly Sheep by 卷毛羊. All Rights Reserved.</small>
    </div>
</footer>
