<div id="search-modal" class="search-modal hidden" transition:persist>
  <div class="search-modal-content">
    <div id="search"></div>
    <button id="search-close" aria-label="关闭搜索">✕</button>
  </div>
</div>
